<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51177682952-i028v2po386r220ir4fcb2lfbscsd97b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51177682952-i028v2po386r220ir4fcb2lfbscsd97b</string>
	<key>API_KEY</key>
	<string>AIzaSyBUZEkf4b8Gc74lks_OmoClN2p4IW8pKiw</string>
	<key>GCM_SENDER_ID</key>
	<string>51177682952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>claudiamaganhi.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-9e177</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-9e177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51177682952:ios:97e15e91867be2295c39bd</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-9e177.firebaseio.com</string>
</dict>
</plist>